@import 'shared';

$color-body: #624099;
$color-mouth: #d2698b;
$color-pupils: #0c0b0d;
$color-sweatband-1: #cc76a6;
$color-sweatband-2: #eddd45;

@mixin onHover {
    @at-root .bettie:hover #{str-replace('#{&}', '.bettie ', '')} {
        @content;
    }
}

.bettie {
    left: 80%;
    bottom: 9.4%;
    width: 8.5%;
    height: 17.6%;
    z-index: 1;

    .body {
        pointer-events: auto;
        background: $color-body;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .sweatband {
        width: 100%;
        height: 9%;
        top: 16.5%;
        background: $color-sweatband-1;

        &:after {
            content: '';
            top: 50%;
            height: 50%;
            width: 100%;
            background: $color-sweatband-2;
        }
    }

    .eye {
        background: #fff;
        top: 31%;
        width: 19%;
        height: 20%;
        border-radius: 50%;

        &:before {
            content: '';
            background: $color-pupils;
            top: 35%;
            width: 35%;
            height: 35%;
            border-radius: 50%;
            transition-property: left, top;
            transition-duration: 0.1s;
            transition-timing-function: ease-in-out;
        }

        &.left {
            left: 30%;

            &:before {
                left: 48%;

                @include onHover {
                    left: 59%;
                    top: 15%;
                }
            }
        }

        &.right {
            left: 52%;

            &:before {
                left: 15%;
                @include onHover {
                    left: 7%;
                    top: 50%;
                }
            }
        }
    }

    .mouth {
        @include mouthBuilder($color-mouth, $color-body, 70%);
        top: 48%;
        width: 22%;
        left: 40%;
        height: 20%;
    }

    .tentacle {
        background: $color-body;
        top: 95%;
        z-index: -1;

        &.first,
        &.fourth {
            clip-path: url(#bettie-legs);
            width: 16%;
            height: 22%;
        }

        &.first {
            left: 29%;
        }

        &.fourth {
            transform: scaleX(-1);
            left: 56%;
        }

        &.third {
            height: 22%;
            width: 5%;
            left: 48%;
            border-radius: 0 0 25% 25%;
        }
    }

    &:after {
        content: '';
        bottom: -19%;
        left: 2%;
        width: 77%;
        height: 7%;
        z-index: -2;
        background: $color-shadow;
        border-radius: 50%;
        position: absolute;
    }
}
