@import 'shared';

@keyframes clouds {
    0% {
        transform: translateX(-105%);
    }
    100% {
        transform: translateX(102vw);
    }
}

.cloud {
    background: #fff;
    width: 15%;
    height: 10%;
    border-radius: 80px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(#000, .1);

    &:before,
    &:after {
        content: '';
        border-radius: 50%;
        background: #fff;
        z-index: -2;
    }

    &:before {
        left: 10%;
        top: -70%;
        width: 50%;
        height: 140%;
    }

    &:after {
        left: 50%;
        top: -45%;
        width: 40%;
        height: 110%;
    }

    &.first {
        //animation: clouds 20s linear forwards infinite;
        top: 0;
        left: 20%;
    }

    &.second {
        //animation: clouds 30s 5s linear forwards infinite;
        top: 15%;
        left: 75%;
        transform: scale(1.2);
    }

    &.third {
        //animation: clouds 40s 10s linear forwards infinite;
        top: 45%;
        left: 2%;
        transform: scale(0.7);
    }
}
