@import 'shared';

$duggee_brown: #934b21;
$shirt_color: #ffb71c;
$pants_color: #a17206;
$tie_color: #f1e400;
$tie_jewel: #247ce0;

@keyframes duggeeTongue {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(10%);
    }
}

@keyframes duggeeFace {
    0% {
        transform: none;
    }
    40% {
        transform: translateY(2%);
    }
}

@keyframes duggeeEars {
    0% {
        transform: none;
    }
    40% {
        transform: translateY(-1.5%);
    }
}

@mixin onHover {
    @at-root .duggee:hover #{str-replace('#{&}', '.duggee ', '')} {
        @content;
    }
}

@mixin onBGHover($index) {
    @at-root .background-#{$index}:hover ~ .stage & {
        @content;
    }
}

.duggee {
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 40%;
    content: '';
    z-index: 5;
    pointer-events: none;
    height: 90%;

    .body {
        top: 0.3%;
        left: 13%;
        right: 13%;
        height: 88.9%;
        clip-path: url(#duggee-body);
        background: $duggee_brown;
        pointer-events: auto;
    }

    .head {
        left: 0;
        right: 0;
        top: 0;
        height: 56.7%;
        background: $duggee_brown;

        @include onHover {
            animation: duggeeFace 0.3s forwards;
        }
    }

    .torso {
        top: 60%;
        left: 0;
        right: 0;
        bottom: 0;
        background: $shirt-color;
    }

    .tie {
        &-neck {
            background: $tie_color;
            top: 56.7%;
            height: 4.8%;
            left: 0;
            right: 0;

            &:after {
                content: '';
                width: 12%;
                background: $tie_jewel;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 130%;
                z-index: 1;
                border-radius: 12%;
            }
        }

        &-dangle {
            background: $tie_color;
            left: 50%;
            transform: translateX(-50%);
            width: 8%;
            top: 60%;
            height: 21.8%;

            &:after {
                content: '';
                top: 99.9%;
                height: 14%;
                width: 100%;
                background: inherit;
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
            }
        }
    }

    .eye {
        background: white;
        top: 36%;
        width: 10%;
        height: 12%;
        border-radius: 50%;

        &:after {
            content: '';
            background: #141824;
            width: 44%;
            height: 47%;
            border-radius: 50%;
            top: 30%;
            z-index: 1;
            transition-property: top, left;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }

        &.left {
            left: 41%;

            &:after {
                left: 40%;

                @include onBGHover(1) {
                    left: 20%;
                    top: 50%;
                }
                @include onBGHover(2) {
                    left: 9%;
                    top: 45%;
                }
                @include onBGHover(3) {
                    left: 3%;
                }
                @include onBGHover(4) {
                    left: 7%;
                    top: 15%;
                }
                @include onBGHover(5) {
                    left: 35%;
                    top: 3%;
                }
                @include onBGHover(6) {
                    left: 48%;
                    top: 15%;
                }
                @include onBGHover(7) {
                    left: 50%;
                }
                @include onBGHover(8) {
                    left: 50%;
                    top: 40%;
                }

                @include onBGHover(9) {
                    left: 45%;
                    top: 48%;
                }
                @include onBGHover(10) {
                    left: 35%;
                    top: 50%;
                }
            }
        }
        &.right {
            right: 41%;

            &:after {
                left: 20%;

                @include onBGHover(1) {
                    left: 15%;
                    top: 50%;
                }
                @include onBGHover(2) {
                    left: 6%;
                    top: 45%;
                }
                @include onBGHover(3) {
                    left: 3%;
                }
                @include onBGHover(4) {
                    left: 8%;
                    top: 15%;
                }
                @include onBGHover(5) {
                    left: 20%;
                    top: 3%;
                }
                @include onBGHover(6) {
                    left: 45%;
                    top: 15%;
                }
                @include onBGHover(7) {
                    left: 55%;
                }
                @include onBGHover(8) {
                    left: 50%;
                    top: 40%;
                }
                @include onBGHover(9) {
                    left: 37%;
                    top: 48%;
                }
                @include onBGHover(10) {
                    left: 20%;
                    top: 50%;
                }
            }
        }
    }

    .nose {
        background: #111822;
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
        width: 13.4%;
        height: 12.6%;
        border-radius: 50%;
        z-index: 1;
    }

    .mouth-area {
        background: #cc6832;
        top: 48%;
        left: 28%;
        width: 44%;
        height: 29%;
        clip-path: url(#duggee-mouth);
        transform-origin: 50% 0;
        transition: transform $animate-out-time $animation-easing;

        @include onHover {
            transition-duration: $animate-in-time;
            transform: scaleY(1.3);
        }
    }

    .mouth {
        clip-path: url(#duggee-lips);
        background: #a5173f;
        top: 41%;
        left: 58%;
        width: 18%;
        height: 20%;
    }

    .open-mouth {
        width: 70%;
        height: 74%;
        left: 15%;
        top: 5%;
        border-radius: 50%;
        opacity: 0;
        background: #990035;
        clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);
        overflow: hidden;
        transform: scale(0.3) translate(80%, 28%) rotate(-25deg);
        transition-property: transform, opacity;
        transition-duration: $animate-in-time;
        transition-timing-function: ease-out;

        &:before,
        &:after {
            content: '';
            background: #ff6867;
            border-radius: 50%;
            bottom: -20%;
            width: 39%;
            height: 50%;
            animation: duggeeTongue 0.4s forwards infinite;
        }

        &:before {
            left: 16%;
        }
        &:after {
            right: 16%;
        }

        @include onHover {
            transform: none;
            opacity: 1;
        }
    }

    .ear {
        &Holder {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            pointer-events: none;
            z-index: -1;

            @include onHover {
                animation: duggeeEars 0.3s forwards;
            }
        }

        width: 29%;
        height: 36%;
        top: 13.7%;
        border-radius: 0 0 48% 48%;

        &.left {
            background: linear-gradient(to right, $duggee_brown 30%, #602a03 100%);
            transform: rotate(43deg);
            left: 6.5%;
        }

        &.right {
            background: linear-gradient(to left, $duggee_brown 30%, #602a03 100%);
            transform: rotate(-43deg);
            right: 7.2%;
        }
    }

    .digit {
        background: $duggee_brown;
        width: 35%;
        top: 99%;
        border-radius: 0 0 50% 50%;
        z-index: 1;

        &:nth-child(2) {
            left: 33.334%;
        }
        &:nth-child(3) {
            left: 66.668%;
            width: 33%;
        }
    }

    .arm {
        background: $shirt_color;
        width: 12.6%;
        height: 19.9%;
        top: 55.5%;
        transition: transform $animate-out-time $animation-easing;
        z-index: 2;

        @include onHover {
            transition-duration: $animate-in-time;
        }

        &.left {
            transform-origin: 0 0;
            left: 17.6%;

            @include onHover {
                transform: rotate(110deg);
            }
        }

        &.right {
            transform-origin: 100% 0;
            right: 17.6%;

            @include onHover {
                transform: rotate(-110deg);
            }
        }

        .digit {
            height: 18%;
        }
    }

    .medal {
        &s {
            position: static;
        }

        &:before {
            content: '';
        }

        &:nth-child(1) {
            left: 24.3%;
            top: 62.7%;
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            background: #f1e400;
            width: 8.7%;
            height: 5.7%;
            transform: rotate(-45deg);
            border-radius: 16%;

            &:before {
                left: 50%;
                top: 50%;
                width: 50%;
                height: 50%;
                background: #77371e;
                transform: translate(-68%, -29%);
                clip-path: inherit;
                border-radius: 20%;
            }
        }

        &:nth-child(2) {
            left: 67.3%;
            top: 64.2%;
            border-radius: 50%;
            background: #fc6c0c;
            width: 9%;

            &:after {
                position: relative;
                padding-top: 70%;
                margin: 15%;
                content: '';
                display: block;
                background: #facd00;
                border-radius: inherit;
            }
        }

        &:nth-child(3) {
            transform: rotate(48deg);
            width: 7.3%;
            height: 5.4%;
            left: 24.9%;
            top: 71.9%;
            background: #c4c5c7;
            border-radius: 16%;

            &:before {
                background: #9c3b22;
                left: 20%;
                right: 20%;
                top: 20%;
                bottom: 20%;
                border-radius: 10%;
            }
        }

        &:nth-child(4) {
            left: 67.6%;
            top: 73.2%;
            border-radius: 50%;
            background: #af4077;
            width: 8.2%;

            &:after {
                position: relative;
                padding-top: 50%;
                margin: 25%;
                content: '';
                display: block;
                background: #fa8f9e;
                border-radius: inherit;
            }
        }
    }

    .pants {
        top: 93.3%;
        left: 0;
        right: 0;
        bottom: 0;
        background: $pants_color;
    }

    .leg {
        background: $pants_color;
        width: 7%;
        bottom: 2.5%;
        height: 11%;
        z-index: 2;

        &.left {
            left: 36%;
        }

        &.right {
            right: 36%;
        }

        .digit {
            height: 15%;
        }
    }

    .shadow {
        bottom: 0;
        left: 2%;
        width: 77%;
        height: 2%;
        background: $color-shadow;
        border-radius: 50%;
        z-index: -1;
    }
}
