@import 'shared';

$color-body: #319c6b;
$color-pants: #4ebac4;
$color-accessory: #cb6b2d;

.happy {
    width: 4.83%;
    bottom: 10.9%;
    left: 27%;
    height: 20%;
    z-index: 6;

    .body {
        background: $color-body;
        width: 100%;
        height: 100%;
        border-radius: 8%;
        overflow: hidden;
    }

    .eye {
        background: #60bba3;
        border-radius: 50%;
        z-index: 1;
        bottom: 97.6%;
        width: 41.3%;
        height: 19.4%;

        &.left {
            left: 10.7%;
        }

        &.right {
            left: 50%;
        }

        &:before,
        &:after {
            content: '';
        }

        &:before {
            background: #fff;
            left: 50%;
            top: 50%;
            width: 78%;
            height: 78%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        &:after {
            background: #130b13;
            top: 50%;
            width: 25%;
            height: 25%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        &.left:after {
            left: 65%;
        }
        &.right:after {
            left: 40%;
        }
    }

    .stick {
        background: #60bba3;
        width: 7%;
        height: 2.2%;

        &:before {
            top: 0;
            content: '';
            background: inherit;
            clip-path: url(#the-shape);
            width: 300%;
            height: 400%;
        }

        &.left {
            top: -8.9%;
            left: 9.8%;
            &:before {
                right: 25%;
            }
        }

        &.right {
            top: -9.5%;
            right: 6%;
            &:before {
                transform: scaleX(-100%);
            }
        }
    }

    .snout {
        width: 227%;
        height: 34.1%;
        background: $color-body;
        border-radius: 6%;
    }

    .nostril {
        background: #0a0702;
        border-radius: 50%;
        right: 6%;
        top: 13%;
        width: 5.3%;
        height: 18%;

        &.left {
            transform: translateX(-150%);
        }
    }

    .mouth {
        background: #f2fbfc;
        top: 51%;
        height: 15%;
        width: 77%;
        right: 0;
        border-radius: 0 0 0 25%;

        &:before {
            content: '';
            background: inherit;
            left: -4%;
            height: 169%;
            bottom: 16%;
            width: 12%;
            border-radius: 30% 20% 0 50%;
        }

        &:after {
            content: '';
            background: $color-body;
            z-index: 1;
            left: 2%;
            bottom: 100%;
            height: 100%;
            width: 8%;
            border-radius: 0 0 0 50%;
        }
    }

    .pants {
        width: 100%;
        height: 20%;
        bottom: 0;
        background: $color-pants;
    }

    .arm {
        left: 15%;
        width: 11%;
        height: 29%;
        top: 67%;
        z-index: 2;
        transform-origin: 50% 0;
        border-radius: 0 0 15% 15%;
        background: $color-body;
    }

    .belt {
        width: 100%;
        height: 6%;
        bottom: 17.7%;
        background: $color-accessory;
        z-index: 1;
    }

    .leg {
        top: 99%;
        height: 20%;
        width: 12%;
        background: $color-pants;

        &:after {
            content: '';
            top: 100%;
            border-radius: 50%;
            width: 100%;
            padding-top: 120%;
            background: $color-accessory;
            transform: translateY(-50%);
            z-index: -1;
        }

        &.left {
            left: 29%;
        }

        &.right {
            right: 31%;
        }
    }

    &:after {
        content: '';
        bottom: -25%;
        left: -15%;
        width: 145%;
        height: 7%;
        background: $color-shadow;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }
}
