@import 'shared';

$color-body: #a97113;
$color-dress: #eb6699;
$color-tie: #f0e720;
$color-tie-jewel: #cb1e7c;
$color-feet: #bd2e6a;
$color-nose: #5e2465;
$color-mouth: #642837;
$color-eyes: #1a0902;

@keyframes norrie-wave {
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(60deg);
    }
}

.norrie {
    width: 6.9%;
    height: 19.5%;
    left: 15.2%;
    bottom: 9.9%;

    .head {
        background: $color-body;
        width: 100%;
        padding-top: 103%;
        border-radius: 50%;

        // Ears, boy.
        &:before,
        &:after {
            content: '';
            border-radius: 50%;
            background: inherit;
            width: 49%;
            height: 49%;
        }

        &:before {
            bottom: 91%;
            left: 5.2%;
        }
        &:after {
            top: -3%;
            left: -38%;
        }
    }
    .nose {
        background: $color-body;
        left: 90%;
        top: 50%;
        transform: translateY(-55%);
        height: 48%;
        width: 40%;

        &:after {
            background: $color-nose;
            content: '';
            right: 0;
            width: 130%;
            height: 100%;
            border-radius: 50%;
            transform: translateX(47%);
        }
    }
    .mouth {
        @include mouthBuilder($color-mouth, $color-body, 70%);
        //clip-path: url(#duggee-lips);
        //background: $color-mouth;
        top: 42%;
        left: 37%;
        width: 24%;
        height: 23%;
        transform: rotate(13deg);
    }

    .eye {
        width: 6.8%;
        height: 6.7%;
        border-radius: 50%;
        background: $color-eyes;

        &.left {
            top: 29%;
            left: 44%;
        }
        &.right {
            top: 26.7%;
            left: 54.4%;
        }
    }

    .dress {
        background: $color-dress;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 33%;
        width: 55%;
        clip-path: polygon(15% -30%, 87% -30%, 87% 53%, 100% 100%, 0 100%, 15% 53%);

        &:before {
            content: '';
            bottom: 100%;
            width: 100%;
            height: 40%;
            background: $color-body;
            z-index: -1;
        }
    }

    .tie {
        background: $color-tie;
        width: 100%;
        height: 15%;

        &:before,
        &:after {
            content: '';
        }

        &:before {
            background: $color-tie-jewel;
            right: 27%;
            width: 19%;
            height: 120%;
            top: -10%;
            border-radius: 15%;
            z-index: 2;
        }

        &:after {
            $tie-end: 85%;
            background: inherit;
            right: 28%;
            width: 17%;
            height: 300%;
            top: 95%;
            z-index: 1;
            clip-path: polygon(0 0, 100% 0, 100% $tie-end, 50% 100%, 0 $tie-end);
        }
    }

    .leg {
        background: $color-dress;
        z-index: 1;
        top: 99%;
        height: 16.3%;
        width: 7.1%;

        &:after {
            content: '';
            background: $color-feet;
            z-index: -1;
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            bottom: 0;
            transform: translateY(50%);
            clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0 100%);
        }

        &.left {
            left: 40.2%;
        }

        &.right {
            left: 53%;
        }
    }

    .arm {
        background: $color-dress;
        height: 14%;
        width: 12%;
        top: 72%;

        &:after {
            content: '';
            top: 74%;
            left: 0;
            width: 100%;
            height: 50%;
            background: $color-body;
            border-radius: 50%;
            clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0 100%);
        }

        &.left {
            left: 36%;
            transform-origin: 0 0;
            transform: rotate(100deg);
            animation: norrie-wave 0.2s alternate infinite ease-in-out;
        }

        &.right {
            transform-origin: 100% 0;
            left: 55%;
            z-index: -1;
        }
    }

    &:after {
        content: '';
        bottom: -20%;
        left: 2%;
        width: 77%;
        height: 7%;
        background: $color-shadow;
        border-radius: 50%;
        position: absolute;
    }
}
