@import 'shared';

$color-body: #ada1b9;
$color-nostril: #a4363d;
$color-pants: #e85d42;
$color-feet: #9e3e37;
$color-pupils: #040404;
$color-mouth: #823741;
$color-fingers: #0d0202;

.roly {
    z-index: 5;
    width: 7.2%;
    bottom: 9.7%;
    left: 47.7%;
    height: 15.7%;

    .body {
        width: 100%;
        height: 100%;
        background: $color-body;
        border-radius: 43%;
        overflow: hidden;
    }

    .nose {
        background: $color-body;
        left: -28%;
        top: 32%;
        width: 46%;
        height: 30%;
        border-radius: 32%;

        &:before,
        &:after {
            content: '';
            background: $color-nostril;
            width: 24%;
            height: 30%;
            border-radius: 50%;
            top: 20%;
        }

        &:before {
            left: 19%;
        }
        &:after {
            left: 68%;
        }
    }

    .eye {
        background: #fff;
        border-radius: 50%;
        top: 11%;
        width: 30.6%;
        height: 27.3%;
        z-index: 1;

        &:before {
            content: '';
            background: $color-pupils;
            width: 40%;
            height: 41%;
            border-radius: 50%;
            top: 31%;
        }

        &.left {
            left: 16%;

            &:before {
                left: 40.5%;
            }
        }

        &.right {
            left: 43%;

            &:before {
                left: 17%;
            }
        }
    }

    .ear {
        background: $color-body;
        width: 9%;
        height: 26%;
        transform-origin: 50% 5%;
        border-radius: 50%;
        z-index: -1;

        &.left {
            left: 74%;
            top: -7%;
            transform: rotate(57deg);
        }

        &.right {
            left: 94%;
            transform: rotate(69deg);
            top: 2%;
        }
    }

    .mouth {
        @include mouthBuilder($color-mouth, $color-body, 70%);
        width: 23%;
        height: 19%;
        left: 52%;
        top: 38%;
    }

    .arm {
        background: $color-body;
        top: 62%;
        height: 25%;
        width: 13%;

        &.left {
            z-index: -1;
            left: 14%;
        }

        &.right {
            left: 76.5%;
            transform-origin: 100% 0;
        }

        &:after {
            content: '';
            background: $color-fingers;
            top: 100%;
            width: 100%;
            height: 8%;
            border-radius: 0 0 10% 10%;
        }
    }

    .pants {
        bottom: 0;
        width: 100%;
        background: $color-pants;
        height: 21%;
    }

    .leg {
        top: 96%;
        width: 9%;
        background: $color-pants;
        height: 20%;
        z-index: -1;

        &.left {
            left: 33.7%;
        }

        &.right {
            left: 56%;
        }

        &:after {
            content: '';
            background: $color-feet;
            z-index: -1;
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            bottom: 0;
            transform: translateY(50%);
            clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0 100%);
        }
    }

    &:after {
        content: '';
        bottom: -22%;
        left: 2%;
        width: 77%;
        height: 7%;
        z-index: -2;
        background: $color-shadow;
        border-radius: 50%;
        position: absolute;
    }
}
