$animate-in-time: 70ms;
$animate-out-time: 0.2s;
$animation-easing: ease-in-out;

$color-shadow: #728a45;

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@mixin mouthBuilder($mouthColor, $blinderColor, $blinderWidth: 80%) {
    background: $mouthColor;
    border-radius: 50%;
    transform-origin: 50% 50%;
    $offset: 55%;
    clip-path: polygon(0 $offset, /*50% 50%,*/ 100% $offset, 100% 100%, 0 100%);
    box-shadow: inset 0 0 2px $blinderColor;

    &:before {
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $blinderColor;
        width: $blinderWidth;
        height: $blinderWidth;
        border-radius: 50%;
    }
}
