@import 'shared';

$color-body: #579fd8;
$color-pupils: #060709;
$color-mouth: #cda4c7;
$color-horn: #4fb796;
$color-accessory: #eb9b31;
$color-pants: #75190a;

.tag {
    bottom: 10.5%;
    left: 67.3%;
    width: 9.9%;
    height: 19.1%;
    z-index: 1;

    .head {
        background: $color-body;
        clip-path: url(#tag-face);
        width: 100%;
        height: 65%;
    }

    .body {
        background: $color-body;
        left: 50%;
        width: 24.8%;
        height: 42%;
        bottom: 0;
        overflow: hidden;
        border-radius: 0 0 17% 17%;
    }

    .horn {
        width: 18%;
        height: 23%;
        left: -3%;
        top: -4%;
        transform-origin: 50% 0;
        transform: rotate(-19deg);
        $offset: 30%;

        .top {
            background: $color-horn;
            left: $offset;
            width: #{100% - $offset * 2};
            height: 20%;
            border-radius: 50%;
            transform: translateY(-50%);
        }

        .main {
            background: $color-horn;
            clip-path: polygon($offset 0, #{100% - $offset} 0, 100% 100%, 0 100%);
            width: 100%;
            height: 100%;
        }

        .bottom {
            background: $color-horn;
            bottom: 0;
            width: 100%;
            height: 20%;
            border-radius: 50%;
            transform: translateY(50%);
        }

        &:after {
            background: inherit;
            content: '';
            border-radius: 50%;
            width: 20%;
            height: 20%;
            left: -50%;
        }
    }

    .mouth {
        @include mouthBuilder($color-mouth, $color-body, 80%);
        width: 32%;
        height: 43%;
        left: 19%;
        bottom: 24%;
        transform: rotate(18deg);
    }

    .eye {
        width: 16%;
        height: 26%;
        background: #fff;
        border-radius: 50%;

        &:before {
            content: '';
            background: $color-pupils;
            border-radius: 50%;
            width: 29%;
            height: 28%;
        }

        &.left {
            left: 48%;
            top: 20.5%;
            &:before {
                left: 49%;
                top: 36%;
            }
        }

        &.right {
            left: 61%;
            top: 24%;
            &:before {
                left: 22%;
                top: 33%;
            }
        }
    }

    .ear {
        background: $color-body;
        width: 27%;
        height: 9%;
        border-radius: 50%;
        transform-origin: 0 50%;

        &.left {
            transform: rotate(-26deg);
            left: 84%;
            top: 2%;
        }

        &.right {
            left: 91%;
            top: 13%;
            transform: rotate(-14deg);
        }
    }

    .pants {
        background: $color-pants;
        bottom: 0;
        width: 100%;
        height: 30%;

        &:before {
            content: '';
            bottom: 100%;
            width: 100%;
            height: 30%;
            background: $color-accessory;
        }
    }

    .leg {
        top: 99%;
        width: 6.8%;
        height: 17%;
        background: $color-pants;

        &.left {
            left: 55%;
        }

        &.right {
            left: 64%;
        }

        &:after {
            content: '';
            background: $color-accessory;
            z-index: 0;
            width: 100%;
            padding-top: 120%;
            border-radius: 50%;
            bottom: 0;
            transform: translateY(50%);
            clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0 100%);
        }
    }

    .arm {
        background: $color-body;
        height: 30%;
        width: 9%;
        top: 65%;
        border-radius: 0 0 10px 10px;

        &.left {
            transform-origin: 0 0;
            z-index: -1;
            left: 51%;
        }

        &.right {
            transform-origin: 100% 0;
            left: 61%;
        }
    }

    &:after {
        content: '';
        bottom: -22%;
        left: 2%;
        width: 77%;
        height: 7%;
        z-index: -1;
        background: $color-shadow;
        border-radius: 50%;
        position: absolute;
    }
}
