@import 'normalize';
@import 'partials/shared';

body {
    overflow: hidden;
    background: #333;
}

.viewport {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 50px #000;
    background: linear-gradient(to bottom, #5db2d2 0%, #a8dff4 30%);
}

.stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 100vw;
    max-height: 80vh;
    pointer-events: none;

    &:before {
        content: '';
        position: absolute;
        left: -100vw;
        width: 210vw;
        top: 64%;
        height: 80vh;
        background: #add369;
    }

    &:after {
        opacity: 0.4;
        //content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('./gang.jpg') center center no-repeat;
        background-size: cover;
        transform: translateY(-1%);
        z-index: 50;
    }

    * {
        content: '';

        &,
        &:before,
        &:after {
            position: absolute;
        }
    }
}

.background {
    position: absolute;
    left: 0;
    top: 45%;
    $howMany: 10;
    transform-origin: 50% 0;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 100vw;
    height: 150vw;

    @for $i from 0 through $howMany {
        &-#{$i} {
            $rotation: $i * (360 / $howMany);
            transform: rotate(#{$rotation}deg);
            /*background: linear-gradient(
                to bottom,
                hsl($rotation, 100%, 100%) 0%,
                hsl($rotation, 100%, 50%) 30%
            );*/
        }
    }
}

.copy {
    position: absolute;
    bottom: 4vh;
    right: 0.5em;
    text-align: right;
    color: #fff;
    font: normal 9px/1.6 sans-serif;

    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    @media (min-width: 768px) {
        font-size: 13px;
    }
}

@import 'partials/duggee';
@import 'partials/norrie';
@import 'partials/happy';
@import 'partials/roly';
@import 'partials/tag';
@import 'partials/bettie';
@import 'partials/clouds';
